#grid_layout {
    display: grid;
    grid-template-columns: 1fr 200px  400px 1fr;
    grid-template-areas: 
    ". header header ."
    ". sidenav content .";
}

header{
    background-color: aqua;
    min-height: 100px;
    grid-area: header;
}

nav {
    background-color:aquamarine;
    min-height: 100px;
    grid-area: sidenav;
}

main {
    background-color: lightseagreen;
    min-height: 100px;
    grid-area: content;
}