 * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}

header img {
    width: 400px;
    margin: 0 auto;
    display: block;
}

main {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px  10px grey;
    font-family: sans-serif;
}

main div {
    padding: 10px 0;
}

main div h1, main div p {
    text-align: center;
}

main div p {
    margin: 5px 0;
    color: grey;
}

hr {
    border: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

form {
padding: 0 15px;
}

form fieldset {
    border: none;
}

#mae-inputs {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

#name-inputs div {
    flex: 1;
}

#name-inputs div input {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-weight: 
}
#grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas:
    ". header ."
    ". form .";
}

header {
    grid-area:header;
    text-align: center;
    margin: 0px auto;
    width: 50%;
}

main {
    grid-area: form;
    background-color: white;
    border: 2px solid black;
    padding: 100px;
}

main h1 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px auto;
}

main h3 {
    font-size: 15px;
    color: grey;
    text-align: center;
    margin: 0 px auto;
}

main h2 {
    font-size: 12px;
    color:grey;
}

input, select, textarea {
    border: 2px solid lightgrey;
    padding: 2px ;
    margin: 0px auto;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 12px;
    background-color: green;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

input[type=submit] {
    opacity: 0.5s;
}

input[type=submit]:active {
    background-color:  white;
}

