body {
    background-color: beige;
    font-family: sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: 
    ". header ."
    ". form.";
}

header {
    grid-area: header;
    text-align: center;
}

main {
    grid-area: form;
    background-color: rgb(101, 97, 121);
    border: 2px solid blue;
    padding: 50px;
}

header h1 {
    margin-bottom: 25px;
    font-size: 30px;
}
header p {
  font-size: 15px;
  margin-bottom: 50px;
}

input, select, textarea {
    border: 2px solid black;
    padding: 13px 6px 13px 0;
    margin: 20px auto;
    font-size: 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}


#message_id {
    padding-bottom: 50px;
}

input[type=submit] {
    padding: 12px;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.5;
}

input[type=submit]:active {
    background-color: lightblue;
}