body {
    background-color: beige;
    font-family: sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: 
    ". header ."
    ". form.";
}

header {
    grid-area: header;
}

main {
    grid-area: form;
    background-color: rgb(101, 97, 121);
    border: 2px solid blue;
    padding: 50px;
}

header h1 {
    padding-left: 50px;
    margin-left: 25px 0 ;
    font-size: 30px;
}
header p {
  padding: 20px;
  margin: 0;
  font-size: 15px;
}

#services_id {
    border: 2px solid black;
    padding: 13px;
    margin: 20px;
    font-size: 12px;
}

#name_id {
    border: 2px solid black;
    padding: 12px;
    margin: 20px;
    font-size: 12px;
}

#email_id {
    border: 2px solid black;
    padding: 12px;
    margin: 20px;
    font-size: 12px;

}

#message_id {
    border: 2px solid black;
    padding: 50px;
    font-size: 12px;
}

#select {
    padding: 25px;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
}
input[type=submit] {
    padding: 12px;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.5;
}

input[type=submit]:active {
    background-color: lightblue;
}