@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo p {
    font-family: 'Lilita One',sans-serif;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#logo a {
    width: 1rem;
}

header {
    background-color: beige;
    padding: 25px;
}

header nav {
    display:flex;
    padding: .50rem 0;
    width: 75vw;
    margin: 0 auto;
}

header nav #logo {
    display:flex;
    align-items: center;
    color:black;
    text-decoration: none;
    font-size: 1rem;
    transition: all 3s;
}

header nav #logo svg {
    width: 1.276rem;
    fill:cornflowerblue;
    margin-right: .5rem;
    order: 1;
    transition: all .5s ;
}

header nav #logo p {
    order: 2;
}
header nav #logo:hover svg {
    fill:salmon;
}

header #mainnav {
    display: flex;
    list-style-type: none;
    align-items: center;
}
header #mainnav li {
    margin-right: 0;
}

header #mainnav li:last-of-type {
    margin-right: 0;
}
header #mainnav li a {
    color:black;
    text-decoration: none;
    transition: all .5s;
}
header #mainnav li a:hover {
    color:mediumpurple;
    text-decoration: overline;
}

header #mainnav .drop {
    position: fixed;
}
.drop ul {
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    list-style-type: none;
    background-color: cornflowerblue;
    padding: .5rem 1.25rem;
    visibility: hidden;
    transition: 
    top  .5s
    opacity .5s,
    visibility .5s;
}
.drop hover ul {
    top: calc (100% + .50rem);
    opacity: 2;
    visibility: visible;
}
.drop ul li {
    margin: 0 0 .3rem 0;
}

.drop ul li :last-of-type {
    margin-block-end: 0;
}