@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
#logo p {
    font-family: 'Delicious Handdrawn',sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

#logo a {
    width: 2rem;
}

header {
    background-color:beige;
    padding: 25px;
}

header nav {
    display: flex;
    padding: .50rem 0;
    width: 75vw;
    margin: 0 auto;
}

header nav #logo {
    display:inline;
    align-items:center;
    color:black;
    text-decoration: none;
    font-size: 1rem;
    transition: all 3s;
}

header nav #logo svg {
    width: 1.275rem;
    fill:cornflowerblue;
    margin-right: .5rem;
    order: 1;
    transition: all .5s;
}

header nav #logo p {
    order: 2;
    padding: .5rem;
}
header nav #logo:hover svg {
    fill: salmon;
}

header #mainnav {
    display:contents;
    list-style-type: none;
    align-items: center;
}

header #mainnav li {
    margin-right: 0;
}

header #mainnav li:last-of-type {
    margin-right: 0;
}

header #mainnav li a {
    color:black;
    text-decoration: none;
    transition: all .5s;
}

header #mainnav li a:hover {
    color:mediumslateblue;
    text-decoration:underline;
}

header #mainnav .drop {
    position: relative;
}

#home {
    margin-left: auto;
    padding: .50rem 0;
}
.about {
    margin-left: auto;
    padding: .50rem 0;
}

.contact {
    margin-left: auto;
    padding: .50rem 0;
}

.shopping {
    margin-left: auto;
    padding: .50rem 0;
}

.dropdown_menu {
    margin-left: auto;
    padding: .50rem 0;
}
.drop ul {
    position: fixed;
    z-index: -1s;
    top: 0;
    left: 0;
    list-style-type: none;
    background-color: lightseagreen;
    padding: .5rem 1.25rem;
    visibility: hidden;
    transition:
    top .5s,
    opacity .5s,
    visibility .5s;
}

.drop:hover ul {
    top: calc (100% + .50rem);
    opacity: 2;
    visibility: visiblie;
}

.drop ul li {
    margin: 0 0 .5rem 0;
}

.drop ul li:last-of-type {
    margin-right: 0;
}

.drop_container a {
    margin-right: 0;
}
.drop_container a ul {
    color: black;
    text-decoration: none;
    transition: all .5s;
}