@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo p {
    font-family: 'Lilita One',sans-serif;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#logo a {
    width: 1rem;
}

header {
    background-color: beige;
    padding: 25px;
}

header nav {
    display:flex;
    padding: .50rem 0;
    width: 75vw;
    margin: 0 auto;
}

header nav #logo {
    display:flex;
    align-items: center;
    color:black;
    text-decoration: none;
    font-size: 1rem;
    transition: all 3s;
}

header nav #logo  a {
    width: 1.276rem;
    fill: coral;
    margin-right: 0.4rem;
    order: 1;
    transition: all .4s ;
}