@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@700&family=Ubuntu&display=swap');

 * {
    margin: 0;
    padding: 0;
 }

 body {
    font-family:'Montserrat",sans-serif';
    font-weight: 300;
 }
 header,footer {
    background-color: white;
 }

 header h1 {
    padding: 50px;
    text-align: left;
    font-family: 'Montserrat,sans-serif';
    font-weight: 500;
    font-size: 25px;
 }

 header h4{
    background-color: white;
 }

 header nav {
    padding: 0 30px 25px 30px;
    border-bottom: 2px solid blue;
 }
 
 header h6 {
    background-color: white;
    border-bottom: 2px solid blue
 }
 header nav a{
    margin-top: 10px ;
    color:dimgrey;
    transition: color 0.5s
    ease-in-out;
 }

 header nav a:last-of-type {
    margin-left: 0;
 }
 header nav a::backdrop {
    color:aqua;
 }

ol {
    background-color: white;
}
 main {
    background-color:white;
    padding: 40px 50px
 }

 main h2 {
    color:black;
    margin-bottom: 50px;
 }
 
 article {
    background-color: white;
    font-size: 14px;
    padding: 40px 50px;
    border-style: groove;
    margin-top: 15px;
    box-shadow: 1px 1px 1px rgba(233,180,155);
 }
 section.card{
    background-color:white;
    padding: 15px;
    border:none;
    margin-top: 0;
 }

 section.card h3 {
    color: black;
    letter-spacing: 1px;
 }

 section.card hr {
    border: none;
    margin: 20px;
 }

 section.card p{
    font-size: 14px;
    line-height: 20px;
 }
 section.card1 img {
    width: 30%;
    height: 500px;
 }

 section.card2 img {
    width: 30%;
    height: 500px;
 }

 section.card3 img {
    width: 30%;
    height: 500px;
 }

 section.card4 img {
    width: 30%;
    height: 500px;
 }

 section.card5 img {
    width: 30%;
    height: 500px;
 }

 section.card #image_container {
    width: 500px;
    float: left;
    padding: 0 50px;
 }