#my_grid {
    display: grid;
    grid-template-columns: 1fr 150px 650px 1fr;
    grid-template-areas:
    ". nav nav ."
    ". sidebar content1 ."
    ". sidebar content2 ."
    ". sidebar content3 ."
    ". sidebar content4 ."
    ". footer footer .";
}
.block {
    padding: 50px;
    font-size: 36px;
}
.block_1 {
    background-color: blueviolet;
    grid-area: content2;
}
.block_2 {
    background-color:aquamarine;
    grid-area: content3;
}
.block_3 {
    background-color:darkcyan;
    grid-area: sidebar;
}
.block_4 {
    background-color:deeppink;
    grid-area: content4;
}
.block_5 {
    background-color:mediumvioletred;
    grid-area: content2;
}
.block_6 {
    background-color:indigo;
    grid-area: footer;
}
.block_7 {
    background-color:slateblue;
    grid-area: nav;
}